<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Iniciando una aplicación Java en Heroku</h1>
    <p>Este es un ejemplo de como desplegar una aplicación Java en Heroku. Es una aplicación razonablemente simple - pero una buena base para entender lo más basico de la plataforma Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-java"><span class="glyphicon glyphicon-flash"></span> Comenzando con Java</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> fuente en GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    para desplegar tu propia copia, y aprender los fundamentos de la plataforma Heroku, revisa el tutorial<a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Iniciando con Java en Heroku</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Esta aplicación fue desplegada en Heroku, ya se sea usando Git o <a href="https://github.com/heroku/java-getting-started">Botón Heroku</a> en el repositorio.</li>

        <li>Cuando Heroku recibe el codigo fuente, se trae todas las refencias del archivo<a href="https://github.com/heroku/java-getting-started/blob/main/pom.xml">pom.xml</a>, Creando un gusano.</li>
        <li>La plataforma gira alrededor de los dyno, un contenedor ligero que provee un ambiente aislado en el que el gunasano puede ser desplegado y ejecutado.</li>
        <li>Puedes escalar tu aplicacion, manejarla y deployarla <a href="https://addons.heroku.com/">150 servicios para agregar</a>, desde la consola de administracion o el CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>si estás siguiendo la guia <a href="https://devcenter.heroku.com/articles/getting-started-with-java">Comenzando</a>, entonces por favor revisa bien el  tutorial y realiza los próximos pasos!</li>
        <li>Si desplegaste esta aplicación desde el boton en Heroku, en una linea de comandos, ejecuta:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/java-getting-started.git</code> - esto creará una copia del codigo fuente de tu aplicación</li>
          <li><code>cd java-getting-started</code> - cambia al directorio dentro de tu codigo fuente en tu repositorio</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - asosciar la aplicacion remota con tu copia en local</li>
          <li>ahora deberias configurar la aplicación para correr localmente <a href="https://devcenter.heroku.com/articles/getting-started-with-java#push-local-changes">desplegar cambios</a> a Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span>Links de ayuda</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-java">Deploying Java Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

</body>
</html>
